.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid black;
    grid-gap: 1px;
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
}

.grid > *{
    background-color: white;
}

.Menu{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gameTitle,#playBtn{
    font-size: 5em;
}



.Game{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.Game>form>input{
    width: 30%
}
.Game>form>input[type="button"]{
    margin: 10px;
}

#playerGrid > .shipHere{
    background-color: blue;
}

.hover{
    background-color: grey;
}

.hit{
    background-color: red;
}

#playerGrid > .hit{
    background-color: red;
}

.missed{
    background-color: yellow;
}

.hidden{
    display:none;
}

.gameOverScreen{
    width: 100%; 
    height: 100%; 
    display:flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    background: aqua;
}

.gameOverScreen>*{
    font-size: 5rem;
}


